# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
.next
out
build
*.tsbuildinfo
next-env.d.ts

# env / secrets
.env
.env*.local
.env.local

# firebase
.firebase
firebase-debug.log
*-debug.log
serviceAccount*.json

# misc
.DS_Store
.vite
coverage
.vercel
